@font-face {
  font-family: 'TheNautigal';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/TheNautigal/TheNautigal-Regular.ttf');
}

@font-face {
  font-family: 'TheNautigal';
  font-style: bold;
  font-weight: 700;
  src: url('../../fonts/TheNautigal/TheNautigal-Bold.ttf');
}
