// BREAKPOINTS
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;

// SCREEN
$screen-sm: 540px;
$screen-md: 720px;
$screen-lg: 960px;
$screen-xl: 1140px;

// FONTS
@import '../scss/fonts/poppins.scss';
@import '../scss/fonts/thenautigal.scss';

// COMPONENTS
@import 'container.scss';
@import 'loading.scss';
@import 'menu.scss';
@import 'banner.scss';

html {
  scroll-behavior: smooth;  
}

body {
  font-family: 'Poppins', sans-serif;
}



body::-webkit-scrollbar {
  width: 0;  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  padding-top: 8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.button {
  padding: 12px 44px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: #ea8516;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    padding: 12px 64px;
  }
}

/* COLORS */
$white: #FFFFFF;


.section-gallery {

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba($color: $white, $alpha: 0.5);
    top: 0;
    z-index: 0;
  }
}

