// BREAKPOINTS
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;

// SCREEN
$screen-sm: 540px;
$screen-md: 720px;
$screen-lg: 960px;
$screen-xl: 1140px;

// COMPONENTS
@import 'container.scss';
@import 'loading.scss';
@import 'menu.scss';
@import 'animation.scss';
@import 'banner.scss';

// FONTS
@import 'fonts/poppins.scss';
@import 'fonts/thenautigal.scss';

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: 'Poppins', sans-serif;
}

.section {
  min-height: 90vh;
  padding-top: 8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}



@media (max-width: 1280px) {
  .section {
    padding-bottom: 8rem;
  }
}
